PORT=2552
FRONTEND_URL=http://localhost:3000
DATABASE_URL=
MONGO_URI=
JWT_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
PG_REPLICATION_PASSWORD=
PG_PASSWORD=
MONGO_ROOT_PASSWORD=
MONGO_APP_PASSWORD=
